*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --black: #0F0E0F;
    --soft_black:#161A1D;
    --red: #660708;
    --soft_red: #BA181B;
    --white: #F5F3F4;
}
html{
    font-size: 62.5%;
    font-family: 'Sarabun', sans-serif;
}
body {
    background-color:var(--soft_black);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white);
}
h1 {
    font-size: 6rem;
    color: var(--red);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
}
header {
    width: 100%;
}
.header-contain_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding: 14px 107px;
    box-shadow: 0px 21px 35px -8px var(--black);
}
.header {
    display: flex; 
}
.social img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}
.header-contain_second {
    padding: 28px 0;
    display: flex;
    justify-content: center;
}
.header-contain_second ul {
    display: flex;
    flex-direction: row;
}
.header-contain_second ul li {
    font-size: 24px;
    padding: 5px 16px;
    border: 1px solid var(--red);
    margin-right: 10px;
    border-radius: 10px; 
}
.header-contain_second ul li:hover{
    background-color: var(--soft_red);
}
main{
    padding: 0 260px;
}
.main-image_main {
    display: flex;
    justify-content: center;
}
.main-image_main div {
    display: grid;
    width: 650px;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    height: 400px;   
}

.main-image_main ul {
    color: var(--white);
    width: 270px;
    
}
.main-image_main .text {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 20px;
}
.main-image_main .title {
    font-size: 5rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}
.main-image_main .title span{
    color: var(--red);
    font-family: 'Courier New', Courier, monospace;
}
.main-image_main .buttom {
    background-color: var(--black);
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.6rem;
    font-weight: 200;
}
.main-image_main img {
    justify-self: flex-end;
}
.main-contain_mobile {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(3 , 1fr);
    gap: 20px 15px
}
.mabile {
    display: grid;
    place-items: center;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 9px 10px 20px 0px var(--black);
}
.mabile img {
    width: 230px;
}
.mabile p {
    padding: 0 20px 10px 20px;
    text-align: justify;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 200;
}
.mabile h3 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--white);
    font-family: 'Merriweather Sans', sans-serif;
}
.container_ventas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}
.venta_description {
    color: var(--white);
}
.venta_description .title {
    color: var(--white);
    font-size: 5rem;
}
.venta_description div {
    height: 80px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 15px;
    margin: 20px 0;
    font-size: 1.6rem;
    background-color: var(--black);
}
.venta_description h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
    font-weight: 300;
    box-shadow: 0px 0px 17px 11px var(--black);
}
.venta_description h3 span{
    font-size: 3rem;
    font-weight: bold;
}
